<input type="text" [(ngModel)]="auto.targa" placeholder="targa">
<input type="text" [(ngModel)]="auto.modello" placeholder="modello">
<input type="text" [(ngModel)]="auto.cilindrata" placeholder="cilindrata">
<button (click)="aggiungi()">Aggiungi</button>
<br>
<input type="text" [(ngModel)]="search" placeholder="ricerca">
<button (click)="ricerca()">Cerca</button>
<br>
<table>
  <tr>
    <th>Targa</th>
    <th>Modello</th>
    <th>Cilindrata</th>
    <th>Gestisci</th>
  </tr>
  <tr *ngFor="let a of automobili">
    <td>{{a.targa}}</td>
    <td>{{a.modello}}</td>
    <td>{{a.cilindrata}}</td>
    <td>
      <button (click)="rimuovi()">X</button>
      <button (click)="calcolaBollo()">Bollo</button>
    </td>
  </tr>
</table>
<br>
Bollo annuo &euro; {{bolloAnnuo}} 
<br>
<button (click)="resetDB()">Reset</button>

