<input type="text" [(ngModel)]="auto.targa" placeholder="targa">
<input type="text" [(ngModel)]="auto.modello" placeholder="modello">
<input type="text" [(ngModel)]="auto.cilindrata" placeholder="cilindrata">
<button (click)="aggiungi()">Aggiungi</button>
<br>
<input type="text" [(ngModel)]="search" placeholder="ricerca">
<button (click)="ricerca()">Cerca</button>
<br>
<!-- Tabella che visualizza la lista dei veicoli -->
<table>
  <tr>
    <th>Targa</th>
    <th>Modello</th>
    <th>Cilindrata</th>
    <th>Gestisci</th>
  </tr>
  <!-- Itera sulle varie righe -->
  <tr *ngFor="let a of automobili">
    <td>{{a.targa}}</td>
    <td>{{a.modello}}</td>
    <td>{{a.cilindrata}}</td>
    <td>
      <!-- Toolbar dei controlli per modifica e calcolo bollo -->
      <button (click)="rimuovi(a)">X</button>
      <button (click)="calcolaBollo(a)">Bollo</button>
    </td>
  </tr>
</table>
<br>
Bollo annuo &euro; {{bolloAnnuo}} 
<br>
<button (click)="resetDB()">Reset</button>

